---
layout: default
title: Bitstring - Home
---
<header id="splash-container" class="tooltip">
  <canvas id="splash"></canvas>
  <script type="text/javascript" src="assets/js/splash.js"></script>
</header>
<section id="main-content">
  <div class="main-section">
    {% for offer in site.data.offers %}
    {% assign offer-key = offer[0] %}
    {% include offers.html key=offer-key %}
    {% endfor %}
  </div>
  <h1>Success stories</h1>
  <div class="main-section">
    {% for project in site.data.projects %}
    {% assign project-key = project[0] %}
    {% include projects.html key=project-key %}
    {% endfor %}
  </div>
  <h1>Technologies</h1>
  <div class="main-section">
    {% for technology in site.data.technologies %}
    {% assign technology-key = technology[0] %}
    {% include technologies.html key=technology-key %}
    {% endfor %}
  </div>
</section>
<footer id="bottombar">
  <div id="legal">Bistring GmbH - Zurich - CH</div>
  <div id="credits"><a href="credits.html">Credits</a></div>
  <div id="links">
    <a href="https://github.com/orgs/bitstring-ch/">
      <img src="{{ '/assets/images/github-logo-32-inv.png' | relative_url }}" />
    </a>
    <a href="https://www.linkedin.com/company/28452018/">
      <img src="{{ '/assets/images/linkedin-sign-32-inv.png' | relative_url }}" />
    </a>
  </div>
</footer>
