$base-background: #242424;
$link-color: white;
$brick-color: #B0623F;
$patchwork-color: #878C54;
$margin-row: 6px;
$font-big: 14pt;
$font-medium: 12pt;
$font-small: 10pt;

html,body {
    margin: 0;
    height: 100%;
    background: $base-background;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    color: $link-color;
}

a.current {
    color: grey;
}

span.separator {
    margin: 0 3px;
}

h1, h2 {
    padding: 0 $margin-row;
    color: white;
}

h1 {
    font-family: 'Days One', sans serif;
    font-size: $font-medium;
    margin: 20px 0 16px 0;
}

h2 {
    font-size: $font-medium;
}

#topbar {
    color: white;
    background: black;
    display: flex;
    align-items: center;
    padding: 6px $margin-row;
}

#topbar #brand {
    font-size: $font-big;
}

#topbar nav {
    flex: 1;
    background: black;
    font-weight: normal;
    font-size: $font-medium;
    text-align: right;
    padding: 3px 0;    
}

#topbar nav a {
    padding: 3px 3px 3px 5px;
    text-decoration: none;
}    

.logo {
    font-family: 'Days One', sans serif;
    font-weight: normal;
}

#topbar .subtitle {
    font-size: $font-medium;
    text-align: left;
    padding: 0;
}

#main-content {
    flex: 1;
}

.main-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#bottombar {
    font-size: $font-small;
    color: grey;
    background: black;
    display: flex;
    align-items: center;
    padding: 0 $margin-row;
}

#bottombar #legal {
    text-align: left;
    flex: 1;
}

#bottombar #credits {
    flex: 1;
    text-align: center;
}

#bottombar #links {
    flex: 1;
    text-align: right;
}

#bottombar a {
    margin: 0;
    padding: 0 3px;
}

#bottombar img {
    margin: 3px 0 0 0;
}

#splash-container {
    max-width: 1596px;
    height: 90px;
    margin: 0;
    border-top: solid 1px orange;
    border-bottom: solid 1px orange;
    background: black;
}

#centered-content {
    max-width: 1596px;
    height: 100%;
    background: $base-background;
    margin: auto;
    display: flex;
    flex-direction: column;
}

article {
    max-width: 40em;
    min-height: 8em;
    margin: 8px $margin-row;
    padding: 0;
    border: none;
    display: flex;
    flex-direction: column;
}

article header {
    display: flex;
}

article img {
    margin: 8px;
    flex: 0 0 32px;
}

article header div {
    display: flex;
    flex-direction: column;
    height: 48px;
    justify-content: center;
}

article h1 {
    font-family: 'Days One', sans serif;
    font-size: $font-medium;
    margin: 0;
    padding: 0 12px;
}

article h2 {
    font-size: $font-medium;
    font-style: normal;
    padding: 12px 0 4px 0;
    margin: $margin-row;
}

article .tab {
    height: 1em;
}

article div {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
    font-size: $font-small;
    flex: 1;
}

article p {
    box-sizing: border-box;
    margin: 0;
    padding: 2px $margin-row 0 $margin-row;
}

.detail {
    padding: 0 $margin-row;
    height: 100%;
    background-color: grey;
    color: $base-background;
}

.detail h2 {
    margin: 0;
    padding: 0;
    font-weight: bold;
    color: $base-background;
}

.detail p {
    font-size: $font-small;
    color: $base-background;
}

.tooltip {
    position: relative;
}

.tooltip-text {
    position: absolute;
    top: 0%;
    left: 0%;
    z-index: 1;
    opacity: 0;
    transition: opacity 1s;
    font-family: 'IBM Plex Serif', serif;
    font-style: italic;
    font-size: $font-small;
    color: white;
    background-color: $brick-color;
    border-radius: 6px;
    padding: 6px 15px;
}

.tooltip:hover .tooltip-text {
    opacity: 0.8;
}
