$base-background: #242424;
$link-color: white;
$brick-color: #B0623F;
$patchwork-color: #878C54;
$margin-row: 5px;
$font-big: 20px;
$font-medium: 17px;
$font-small: 15px;

* {
    box-sizing: border-box;
}

html,body {
    margin: 0;
    height: 100%;
    background: $base-background;
    font-family: 'Roboto', sans-serif;
}

p,h1,h2,h3 {
    margin-left: $margin-row;
}

a {
    text-decoration: none;
    color: $link-color;
}

a.current {
    color: gray;
}

span.separator {
    margin: 0 3px;
}

h1, h2 {
    margin: 0;
    padding: 0 $margin-row;
    color: white;
    background: black;
}

h1 {
    font-size: $font-big;
    font-weight: bold;
}

h2 {
    font-size: $font-medium;
    font-weight: normal;
}

#topbar {
    color: white;
    background: black;
    display: flex;
    align-items: center;
    padding: 2px $margin-row;
}

#topbar #brand {
    font-size: $font-big;
}

#topbar nav {
    flex: 1;
    background: black;
    font-weight: normal;
    font-size: $font-medium;
    text-align: right;
    padding: 3px 0;    
}

#topbar nav a {
    padding: 3px 3px 3px 5px;
    text-decoration: none;
}    

.logo {
    font-family: 'Days One', sans serif;
    font-weight: normal;
}

#topbar .subtitle {
    font-size: $font-medium;
    text-align: left;
    padding: 0;
}

#main-content {
    flex: 1;
}

#bottombar {
    font-size: $font-small;
    color: grey;
    background: black;
    display: flex;
    align-items: center;
    padding: 0 $margin-row;
}

#bottombar #legal {
    text-align: left;
    flex: 1;
}

#bottombar #credits {
    flex: 1;
    text-align: center;
}

#bottombar #links {
    flex: 1;
    text-align: right;
}

#bottombar a {
    margin: 0;
    padding: 0 3px;
}

#bottombar img {
    margin: 3px 0 0 0;
}

#splash-container {
    width: 100%;
    overflow: hidden;
    margin: 0;
    background: black;
}

#splash {
    margin: 0;
    width: 2400px;
    margin-left: 50%;
    transform: translateX(-1200px);
}

#centered-content {
    max-width: 1596px;
    height: 100%;
    background: $base-background;
    margin: auto;
    display: flex;
    flex-direction: column;
}

article {
    width: 20em;
    min-height: 13em;
    margin: 20px 0;
    padding: 0;
    border: solid 4px black;
    border-left: none;
    border-right: none;
    display: flex;
    flex-direction: column;
}

article h2 {
    padding: 12px 0 4px 0;
    margin: 0;
}

article .tab {
    height: 1em;
}

article div {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
    font-size: $font-small;
    flex: 1;
}

article p {
    box-sizing: border-box;
    margin: 0;
    padding: 2px $margin-row 0 $margin-row;
}

article img {
    float: left;
    margin: 12px;
    width: 2em;
}

.tooltip {
    position: relative;
}

.tooltip-text {
    position: absolute;
    top: 0%;
    left: 0%;
    z-index: 1;
    opacity: 0;
    transition: opacity 1s;
    font-family: 'IBM Plex Serif', serif;
    font-style: italic;
    font-size: $font-small;
    color: white;
    background-color: $brick-color;
    border-radius: 6px;
    padding: 6px 15px;
}

.tooltip:hover .tooltip-text {
    opacity: 0.8;
}

