$base-background: #242424;
$link-color: white;
$margin-row: 6px;
$font-big: 15pt;
$font-medium: 13pt;
$font-small: 10pt;
$light-color: grey;
$dark-color: black;
$light-background: grey;
$dark-background: black;

html,body {
    margin: 0;
    height: 100%;
    background: $base-background;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    color: $link-color;
}

a.current {
    color: $light-color;
}

span.separator {
    margin: 0 3px;
}

h1, h2 {
    padding: 0 $margin-row;
    color: white;
}

h1.topic {
    font-family: "Days One", sans serif;
    font-weight: bold;
    font-size: $font-medium;
    margin: 20px 0 16px 0;
    padding: 3px $margin-row;
    background-color: $light-background;
    color: $dark-color;
}

h2 {
    font-size: $font-medium;
}

#topbar {
    color: white;
    background: $dark-background;
    display: flex;
    align-items: center;
    padding: 6px $margin-row;
}

#topbar #brand {
    font-size: $font-big;
}

#topbar nav {
    flex: 1;
    background: $dark-background;
    font-weight: normal;
    font-size: $font-medium;
    text-align: right;
    padding: 3px 0;    
}

#topbar nav a {
    padding: 3px 3px 3px 5px;
    text-decoration: none;
}    

.logo {
    font-family: 'Days One', sans serif;
    font-weight: normal;
}

#topbar .subtitle {
    font-size: $font-medium;
    text-align: left;
    padding: 0;
}

#main-content {
    flex: 1;
}

.main-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#bottombar {
    font-size: $font-small;
    color: $light-color;
    background: $dark-background;
    display: flex;
    align-items: center;
    padding: 0 $margin-row;
}

#bottombar #legal {
    text-align: left;
    flex: 1;
}

#bottombar #credits {
    flex: 1;
    text-align: center;
}

#bottombar #links {
    flex: 1;
    text-align: right;
}

#bottombar a {
    margin: 0;
    padding: 0 3px;
}

#bottombar img {
    margin: 3px 0 0 0;
}

#splash-container {
    max-width: 1596px;
    height: 90px;
    margin: 0;
    border-top: solid 1px orange;
    border-bottom: solid 1px orange;
    background: $dark-background;
}

#centered-content {
    max-width: 1596px;
    height: 100%;
    background: $base-background;
    margin: auto;
    display: flex;
    flex-direction: column;
}

article {
    min-height: 8em;
    margin: 6px 0;
    padding: 0;
    border: none;
    display: flex;
    flex-direction: column;
}

article header {
    display: flex;
    align-items: center;
}

article img {
    margin: 8px;
    flex: 0 0 32px;
}

article header div {
    display: flex;
    flex-direction: column;
    height: 48px;
    justify-content: center;
}

article h1 {
    font-family: Roboto, sans serif;
    background-color: inherit;
    color: $dark-color;
    font-size: $font-medium;
    font-weight: bold;
    margin: 0;
    padding: 0 12px;
}

article .tab {
    height: 1em;
}

article div {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: $light-background;
    color: $dark-color;
    font-size: $font-small;
    flex: 1;
}

ul {
    padding-inline-start: 25px;
    list-style-type: square;
}

li {
    box-sizing: border-box;
    margin: 0.25em 0;
    padding: 0;
}

.bg1 {
    background-color: #BEB558;
}

.bg2 {
    background-color: #E8803C;
}

.bg3 {
    background-color: #BE2E2A;
}

.bg4 {
    background-color: #943942;
}

.bg5 {
    background-color: #63829E;
}

@media only screen and (max-width: 800px) {
    article {
	width: 100%;
    }
}

@media only screen and (min-width: 800px) and (max-width: 1200px) {
    article {
	width: 49%;
    }
}

@media only screen and (min-width: 1200px) {
    article {
	width: 33%;
    }
}
